{deps, [
    {grisp, {git, "https://github.com/grisp/grisp.git", {branch, "master"}}},
    {epmd, {git, "https://github.com/erlang/epmd.git", {ref, "4d1a59"}}},
    {elli, "", {git, "git://github.com/knutin/elli.git", {branch, "master"}}}
]}.

{plugins, [
    {rebar3_grisp, ".*", {git , "https://github.com/grisp/rebar3_grisp", {branch, "master"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp_release, "19"},
    {deploy, [
        {pre_script, "rm -rf /run/media/kilian/GRISP/*"},
        {destination, "/run/media/kilian/GRISP/"},
        {post_script, "umount /run/media/kilian/GRISP/"}
    ]},
    {toolchain, [{root, "/home/kilian/Stritzinger/grisp-software/rtems-install/rtems-4.12"}]}
]}.

{relx, [
    {release, {mygrispapp, "0.1.0"}, [{epmd, none}, elli, mygrispapp]}
]}.
