{deps, [
    {grisp, {git, "https://github.com/grisp/grisp.git", {branch, "master"}}},
    {epmd, {git, "https://github.com/erlang/epmd.git", {ref, "4d1a59"}}},
   % {elli, "", {git, "git://github.com/knutin/elli.git", {branch, "master"}}},
    lager,
    {lager2json, {git, "https://github.com/talentdeficit/lager2json.git", {branch, "master"}}},
    rterlang
]}.

{plugins, [
    {rebar3_grisp, ".*", {git , "https://github.com/grisp/rebar3_grisp", {branch, "master"}}}
]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{grisp, [
    {otp_release, "20.2"},
    {deploy, [
        {pre_script, "rm -rf /run/media/kilian/GRISP/*"},
        {destination, "/run/media/kilian/GRISP/"},
        {post_script, "umount /run/media/kilian/GRISP/"}
    ]},
    {toolchain, [{root, "/home/kilian/Stritzinger/grisp-software/rtems-install/rtems-4.12"}]}
]}.

{relx, [
	{release, {grispapp, "0.1.0"}, [lager, {epmd, none}, grispapp]},
    	{sys_config, "config/app.config"}
]}.

{shell, [{apps, []}]}.
