[{lager, [
	 {handlers, [
		     {lager_console_backend, [{level, info}]},
		     {lager_file_backend, [{file, "error.log"}, {level, error}]},
		     {lager_file_backend, [{file, "console.log"}, {level, info}]},
		     {lager_file_backend, [{file, "json.log"}, 
					   {level, info},
					   {formatter, lager2json},
					   {formatter_config, [{separator, <<$\n>>}]}
					  ]}
		    ]
	 }
	]
}].
