{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [lager,
       {lager2json, {git, "https://github.com/talentdeficit/lager2json.git", {branch, "master"}}}
       ]}.
{relx, [{release, {rterlang, "0.0.1"},
       [lager, rterlang]},
      {sys_config, "config/app.config"}
       ]}.

